.status-label{
    background: #fff;
    font-family: CenturyGothic_bold;
    text-transform: capitalize;
    display: inline-block;
    margin-left: 12px;
    letter-spacing: 0.9px;
    font-size: 15px;
}
.job-right-header .waiting{
    color: #FFBE2C;
}
.job-right-header .active{
    color: #7294FE;
}
.job-right-header .accepted{
    color: #9553B5;
}
.job-right-header .inProgress{
    color: #1EC1DC;
}
.job-right-header .finished{
    color: #195E8D;
}
.job-right-header .cancelled{
    color: #FF8A78;
}
.job-right-header .expired{
    color: #A5A5A5;
}
.status-label.basic{
    border: 1px solid #DAE1E7;
    padding: 3px 0;
    border-radius: 3px;
    color: #8F9397;
    font-family: CenturyGothic;
    height: 27px;	
    min-width: 63px;
    text-align: center;
}