.page-sec-header {
    padding: 20px 0;
}

.page-sec-header h4 {
    display: inline-block;
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 20px;
    font-weight: 900;
    margin-left: 15px;
}

.page-sec-header {
    padding: 20px 0;
}

.page-sec-header button {
    background: transparent;
    border: 1px solid #ED3124;
    color: #ED3124 !important;
    position: absolute;
    right: 50px;
    margin-top: 0;
}

.myCar-card {
    box-shadow: 1px 1px 1px 1px #ddd;
    cursor: pointer;
    margin: 10px 0;    
}

.myCar-card figure {
    position: relative;
    margin: 0 auto;
    background-color: white;
}

.myCar-card figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myCar-card-footer {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 10px;
    visibility: hidden;
}

.myCar-card:hover .myCar-card-footer {
    visibility: visible;
}

.myCar-card-footer li {
    color: #F9FBFB;
    font-family: "CenturyGothic";
    font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    width: 49%;
    font-weight: normal;
}

.myCar-card-footer li h4 {
    font-size: 14px;
    font-weight: 900;
    font-family: CenturyGothic;
}

.myCar-card-footer li:last-child {
    text-align: right;
}

.myCard-caption {
    background: white;
    padding: 10px;
    position: relative;
}

.myCard-caption h4 {
    color: #717982;
    font-family: "CenturyGothic";
    font-size: 13px;
}

.myCard-caption h5 {
    font-family: "CenturyGothic";
    color: #4C4C4C;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.myCard-caption button {
    position: absolute;
    right: 6px;
    top: 14px;
    background: #ED3124;
}