.myCar-card {
    box-shadow: 1px 1px 1px 1px #ddd;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 3px;
}

.myCar-card figure {
    position: relative;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    height: 275px;
}

.myCar-card figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}

.myCar-card-footer {
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99131313', GradientType=0);
    /* IE6-9 */
    width: 100%;
    padding: 10px 15px 15px;
    visibility: hidden;
}

.myCar-card:hover .myCar-card-footer {
    visibility: visible;
}

.myCar-card-footer li {
    color: #F9FBFB;
    font-family: "CenturyGothic";
    font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    width: 49%;
    font-weight: normal;
}

.myCar-card-footer li h4 {
    font-size: 14px;
    font-family: CenturyGothic;
    font-weight: bold;
}

.myCar-card-footer li:last-child {
    text-align: right;
}

.myCar-card-footer li:last-child span {
    text-align: left;
    display: inline-block;
}

.myCar-card-caption {
    background: white;
    padding: 10px 15px;
    position: relative;
    border-radius: 0 0 3px 3px;
}

.myCar-card-caption h4 {
    color: #717982;
    font-family: CenturyGothic;
    font-size: 13px;
    font-weight: bold;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.myCar-card-caption h5 {
    color: #4C4C4C;
    font-size: 18px;
    font-family: CenturyGothic;
    font-weight: bold;
    line-height: 22px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.myCar-card-caption button {
    position: absolute;
    right: 15px;
    top: 22px;
    background: #ed3124;
    height: 42px;
    width: 115px!important;
}
.bookService-modal .modal-body{
    padding: 0;
}
.bookService-modal li{
    padding: 20px 0;
    border-bottom: 1px solid #DAE1E7;
    cursor: pointer;
}
.bookService-modal li:last-child{
    border: 0;
}

.bookService-card{
    padding-left: 0;
    padding-right: 30px;
}
@media screen and (min-width: 992px) and (max-width: 1170px) {
    .myCar-card-caption button {
        position: relative;
        right: auto;
        top: auto;
        margin-left: 0;
        height: auto;
    }
}

@media screen and (max-width: 991px) {
    .myCar-card-caption button {
        height: auto;
        font-size: 13px !important;
        top: 23px;
    }
}

@media screen and (max-width: 380px) {
    .myCar-card-caption button {
        position: relative;
        right: auto;
        top: auto;
        margin-left: 0;
    }
}