.btn-theme {
  font-size: 15px;
  border-radius: 4px !important;
  height: 42px;
  text-align: center;
  color: #fff !important;
  outline: 0 !important;
  box-shadow: none !important;
  font-family: CenturyGothic_bold;
}

.btn-theme.lg {
  width: 220px;
}

.btn-theme.sm {
  width: 130px;
}

.btn-theme.facebook {
  background: #3D5AA6;
  margin-right: 10px;
}

.btn-theme.gmail {
  background: #ED3124;
  margin-left: 10px;
}

.btn-theme.submit {
  background: #23AE49;
  margin-left: 15px !important;
}

.btn-theme i {
  margin-right: 10px;
}

.btn-theme.label {
  background: transparent;
  color: #454B51 !important;
}

.btn-theme.label i {
  float: right;
  font-size: 14px;
}

.btn-alert{
    background: transparent;
    border: 1px solid #ED3124;
    color: #ED3124 !important;
    font-family: CenturyGothic_bold;
    height: 42px;
}
@media screen and (max-width: 640px) {
  .btn-theme {
    height: 35px;
  }
}
