/*Collapse Panel*/


/*ncr = new-car-request*/

.new-car-profile .title {
    background: white;
    padding: 30px 0;
    padding-left: 40px;
    color: #454B51;
    font-family: "CenturyGothic";
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    display: inline-block;
}

.new-car-profile .title h4 {
    margin-top: 0;
}

.panel-section .collapse-panel {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.panel-head {
    cursor: pointer;
    position: relative;
    padding: 14px 15px;
    border-radius: 4px 4px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(197, 197, 197, 0.5);
}

.panel-head h4 {
    display: inline-block;
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 18px;
    line-height: 18px;
}

.panel-head i {
    color: #454B51;
    font-size: 26px;
    float: right;
}

.panel-section .collapse-panel .search-box {
    padding: 0;
    position: relative;
    background-color: transparent;
    margin-bottom: 0;
    width: 90%;
    margin-top: 15px;
}

.panel-section .collapse-panel .search-box i {
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 18px;
    color: #949DA5;
    cursor: pointer;
}

.panel-section .collapse-panel .search-box input {
    border: transparent;
    border-bottom: 1px solid #C8D4DE !important;
    outline: 0 !important;
    padding-right: 40px;
}

.panel-section .collapse-panel .search-box .form-group label {
    top: 15px;
}

.panel-section .collapse-panel .search-box input::-webkit-input-placeholder,
.panel-section .collapse-panel .search-box input::-moz-placeholder,
.panel-section .collapse-panel .search-box input:-ms-input-placeholder,
.panel-section .collapse-panel .search-box input:-moz-placeholder {
    /* Firefox 18- */
    font-family: "CenturyGothic";
}

.panel-section .title .mdi.mdi-chevron-down,
.panel-section .title .mdi.mdi-chevron-up,
.panel-section .model-select .mdi.mdi-chevron-down,
.panel-section .model-select .mdi.mdi-chevron-up {
    position: absolute;
    right: 19px;
    font-size: 26px;
    cursor: pointer;
    color: #454B51;
}

.panel-section .model-select .mdi.mdi-chevron-down,
.panel-section .model-select .mdi.mdi-chevron-up {
    right: 0;
}

.collapse-panel .img-container,
.collapse-panel .img-container {
    width: 100%;
    overflow: scroll;
    max-height: 632px;
}

.collapse-panel .img-circle,
.collapse-panel .img-circle {
    cursor: pointer;
    position: relative;
    vertical-align: top;
    margin: 24px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid #EEF2F5;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin-bottom: 13px;
}

.collapse-panel .img-circle.active,
.collapse-panel .img-circle.active {
    border: 1px solid #ED3124;
}

.collapse-panel .img-circle img,
.collapse-panel .img-circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel-section .collapse-panel .btn-theme.submit,
.panel-section .collapse-panel .btn-theme.submit,
.panel-section .s3 .btn-theme.submit {
    background-color: #ED3124;
    margin: 20px 0;
}

.collapse-panel .img-container .image-view,
.collapse-panel .img-container .image-view {
    text-align: center;
}

.collapse-panel .img-container h6,
.collapse-panel .img-container h6 {
    text-transform: capitalize;
    margin-top: 0 !important;
    color: #454B51;
    font-family: "CenturyGothic";
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.panel-section .collapse-panel .next-button,
.panel-section .collapse-panel .next-button,
.panel-section .s3 .next-button {
    padding: 15px 0;
    text-align: right;
    border-top: 1px solid #C8D4DE;
    margin: 50px 15px 0;
}

.panel-section .s3 .next-button {
    margin: 0;
    margin-top: 30px;
}

.collapse-panel .model-select select {
    z-index: 9;
    cursor: pointer;
    position: relative;
    font-family: "CenturyGothic";
    color: #868D91;
    font-size: 16px;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #C8D4DE;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
}

.collapse-panel .modal-select {
    padding-left: 25px;
    margin-top: 35px;
    padding-bottom: 25px;
}

.collapse-panel .modal-select .mdi {
    position: absolute;
    right: 14px;
    top: -2px;
    font-size: 26px;
    color: #454B51;
}

.collapse-panel {
    margin-top: 20px;
}

.upload-box-wrapper {
    height: 110px;
    width: 110px;
    position: relative;
    display: inline-block;
    margin: 15px;
    vertical-align: top;
    border-radius: 3px;
}

.car-wash .collapse-panel .right .uploads .upload-box-wrapper {
    margin-left: 0;
}

.upload-box-wrapper.box-shadow {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.upload-box-wrapper .mdi-close {
    color: #fff;
    font-size: 11px;
    float: right;
    margin-right: 2px;
}

.upload-box-wrapper .cancel-image {
    position: absolute;
    right: -7px;
    top: -9px;
    z-index: 1;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #ED3124;
    border-radius: 50%;
}

.upload-box-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-box {
    margin: 0;
    position: relative;
    cursor: pointer;
    height: 110px;
    width: 110px;
    border: 1px dashed #F48021;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.upload-box i {
    color: #F48021;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(315deg);
    max-width: 100%;
    max-height: 100%;
    object-fit: none;
    border-radius: 3px;  
    font-size: 24px;  
}

.upload-image {
    padding-top: 35px;
    padding-bottom: 30px;
    display: block;
}

.input-values {
    padding: 0;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #C8D4DE !important;
}


/*Sub Collpase Panel*/

.sub-collapse-panel {
    margin-bottom: 10px;
}

.sub-collapse-panel .sub-collapse-panel-head {
    cursor: pointer;
    position: relative;
    padding: 10px 22px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid rgba(218, 225, 231, 0.4);
    height: 54px;
}
.sub-collapse-panel .sub-collapse-panel-head:hover {
    background-color: rgba(218, 225, 231, 0.2);
}

.sub-collapse-panel .sub-collapse-panel-head.active {
    background-color: rgba(218, 225, 231, 0.2);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid transparent;
}

.sub-collapse-panel .sub-collapse-panel-head i {
    color: #454B51;
    font-size: 26px;
    float: right;
}

.sub-collapse-panel .sub-collapse-panel-head h4 {
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    margin-left: 33px;
    display: inline-block;
}

.sub-collapse-panel .sub-collapse-panel-head .sub-category-count {
    top: 20px;
    position: absolute;
    right: 75px;
    color: #717982;
    font-family: CenturyGothic;
    font-size: 11px;
    line-height: 14px;
}

.sub-collapse-panel .sub-collapse-panel-head figure {
    display: inline-block;
}

.sub-collapse-panel .sub-collapse-panel-head figure img {
    height: 21px;
    width: 20px;
}

.sub-collapse-panel .sub-collapse-panel-body {
    border: 1px solid rgba(218, 225, 231, 0.4);
    border-top: 0;
    max-height: 250px;
    overflow: auto;
    padding: 10px 0;
}

.sub-collapse-panel .sub-collapse-panel-body .label {
    color: #717982;
    font-family: CenturyGothic;
    font-size: 13px;
    line-height: 14px;
    text-transform: capitalize;
}
.sub-collapse-panel .sub-collapse-panel-body .label.active {
    color: #454B51;
}

.sub-collapse-panel .sub-collapse-panel-body .label input {
    margin-right: 10px;
    outline: none;
}

.sub-collapse-panel .sub-collapse-panel-body .label input:checked {
    background-color: #454B51;
    border: 1px solid #454B51;
}

.sub-collapse-panel .sub-collapse-panel-body .options {
    padding: 7px;
    padding-left: 67px;
}

.car-wash .collapse-panel {
    margin-top: 20px;
}

.car-wash .collapse-panel .left {
    border-right: 1px solid rgba(148, 157, 165, 0.4);
    margin-top: 44px;
}

.panel-content .form-section {
    margin-bottom: 55px;
}

.panel-content .form-section.uploads {
    margin-bottom: 20px;
}

.panel-content .date-time .form-group,
.panel-content .date-time .form-input {
    margin-bottom: 0;
}

.panel-content .date-time .react-datepicker__input-container,
.panel-content .date-time .rc-time-picker {
    width: 100%;
}

.panel-content .date-time .react-datepicker__input-container input,
.panel-content .date-time .rc-time-picker input {
    color: #868D91;
    border: 0;
    outline: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    height: 48px;
    margin: 10px 0;
    width: 100%
}

.car-wash .collapse-panel .right {
    margin-top: 53px;
    padding-left: 20px;
}

.collapse-panel .panel-sub-title {
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 16px;
    line-height: 14px;
    display: block;
    text-transform: capitalize;
}

.collapse-panel .panel-content .wrapper .panel-sub-title {
    margin-left: 15px;
}

.collapse-panel .panel-content .wrapper .upload-image .panel-sub-title {
    margin-bottom: 25px;
}

.car-wash .collapse-panel .panel-text {
    color: #717982;
    font-size: 16px;
    font-family: CenturyGothic;
    line-height: 28px;
    margin-top: 20px;
    font-weight: normal;
    margin-bottom: 35px;
}

.collapse-panel .model-select {
    margin-top: 36px;
    margin-bottom: 20px;
}

.car-wash .collapse-panel .model-select.upload {
    margin-top: 20px;
}

.car-wash .collapse-panel .model-select .mdi-chevron-down {
    right: 17px;
    color: #949DA5;
}

.form-section .jd-text {
    z-index: 9;
    cursor: pointer;
    position: relative;
    font-family: "CenturyGothic";
    color: #949DA5;
    font-size: 16px;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #C8D4DE;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
}

.car-wash .collapse-panel .right .img-uploads {
    margin-top: 20px;
}

.radio-btn .radio-style {
    display: inline-block;
    margin-top: 20px;
}

.radio-btn .radio-style label {
    color: #717982;
    font-family: CenturyGothic;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.car-wash .collapse-panel .right .img-uploads {
    margin-top: 20px;
}

.car-wash .preffered-time-date.sec-container {
    margin-bottom: 0px;
    margin-top: 50px;
}

.car-wash .job-details.sec-container {
    margin: 40px 0;
}

.car-wash .repair-reasons.sec-container {
    margin: 40px 0;
    margin-top: -5px;
}

.car-wash .preffered-location.sec-container {
    margin-top: 15px;
}

.radio-btn .radio-style:first-child {
    margin-right: 62px;
}

.radio-btn label:hover .mf-radio-button {
    color: #337ab7;
}

.radio-btn label span {
    display: block;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.radio-btn input {
    width: auto;
    opacity: 0.0001;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
}

.radio-btn input:checked~.mf-radio-button::after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.radio-btn input:checked~.mf-radio-button::before {
    color: #ED3124;
}

.mf-radio-button {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.mf-radio-button::before,
.mf-radio-button::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 2px 0;
    width: 15px;
    height: 15px;
    -webkit-transition: -webkit-transform 0.28s ease;
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    border-radius: 50%;
    border: 0.125rem solid currentColor;
}

.mf-radio-button::after {
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #ED3124;
    border-color: #ED3124;
}

.car-wash .special-instruction-text {
    color: #717982;
    font-family: CenturyGothic;
    font-size: 14px;
    line-height: 28px;
    margin-top: 14px;
}

.image-ipload-error p {
    color: #ED3124;
    font-family: CenturyGothic;
    font-size: 14px;
    line-height: 22px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.image-ipload-error i {
    color: #717982;
    font-size: 20px;
    cursor: pointer;
    vertical-align: top;
    margin-top: -2px;
    display: inline-block;
    margin-left: 20px;
}

@media screen and (max-width: 991px) {
    .collapse-panel .search-box {
        width: 32%;
    }
}


/*timpicker*/


/*
.rc-time-picker-panel {
  left: 476.5px !important;
  top: 1188px !important;
}

.react-datepicker__tether-element {
  transform: translateX(165px) translateY(1205px) translateZ(0px) !important;
}*/