.main-wrapper .topSection {
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.11);
    margin-bottom: 4px;
}

.main-wrapper .topSection.empty {
    box-shadow: none;
    /* border-bottom: 1px solid #f3f3f3; */
}

.main-wrapper .inSection {
    background-color: rgb(249, 252, 251);
    padding: 40px 0 70px;
}

.main-wrapper .inSection.dash-inSec{
    padding-bottom: 40px;
}

.bottomSection {
    background: rgb(249, 252, 251);
    padding-bottom: 70px;
}

.padwrapper {
    padding: 0px 40px;
    position: relative;
}
.padwrapper-align{
    padding: 0 30px;
}

.inSection.dash-jobupdate-bg {
    background: #fff;
}

.service-data img {
    width: 100%;
    border-radius: 10px;
}

.service-list {
    padding: 30px 0px !important;
}
.select-type{
    float: right;
    margin-top: 7px;
}
.service-list h5 {
    font-size: 26px;
    line-height: 33px;
    font-family: CenturyGothic;
    margin-bottom: 35px;
}

.service-list h5 span {
    font-family: CenturyGothic;
}

.serviceList-title {
    color: #454B51;
    font-family: CenturyGothic_bold;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
}

.service-data {
    /* box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.06); */
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.service-data:hover {
    /* box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.15); */
}

.service-data label {
    font-family: CenturyGothic_bold;
    font-size: 18px;
    text-align: center;
    color: #454B51;
    position: absolute;
    bottom: 5px;
    width: 100%;
    left: 0;
    padding: 8px 0;
    margin-bottom: 0;
    text-transform: uppercase;
}


/*Welcome Text*/

.welcome-banner {
    padding: 70px 0;
}

.welcome-banner h4 {
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 26px;
}

.welcome-banner h4 span {
    font-family: CenturyGothic_bold;
    color: #000;
}

.welcome-banner p {
    width: 475px;
    color: #717982;
    font-family: CenturyGothic;
    font-size: 18px;
    line-height: 26px;
    margin: 20px 0;
}

.welcome-banner .btn-theme.label {
    color: #ED3124 !important;
    border: 1px solid #ED3124;
    border-radius: 3px;
    font-size: 14px;
    font-family: CenturyGothic_bold;
}


/*Empty Updates*/

.welcome-banner.empty {
    border-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.welcome-banner.empty .btn-theme {
    background: #ED3124;
    margin: 0 !important;
}

.welcome-banner.empty h4 {
    color: #717982;
    font-size: 20px;
    font-family: CenturyGothic_bold;
}

.welcome-banner.empty p {
    color: #717982;
    font-size: 14px;
}

.welcome-banner.empty img {
    margin-top: -80px;
    max-width: 100%;
}

.jobUpdate-padding{
    padding: 0 15px;
}

/*car summary  */
.car-summary{
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.08);
  padding:13px;
}
.summary-heading{
  color: #454B51;
  font-size: 18px;
  font-family: CenturyGothic_bold;
  font-weight: bold;
  margin-top: 10px;
}
.type-card{
  border: 1px solid #F0F3F5;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 5px;
}
.car-wrapper{
  border-bottom: 1px dashed rgba(151, 151, 151, 0.6);
  padding: 20px 0px;
}
.car-wrapper:last-child{
  border: none;
}
.type-desc,
.type-img{
  display: inline-block;
}
.type-desc{
  position: relative;
  top: 10px;
}
.type-img{
   margin-right: 15px;
}
.type-img.car-img{
  margin-right: 15px;
  height:65px;
  width:95px;
}
.only-desc{
  position: static;
  top: 0px;
  padding: 12px;
}
.type-img.car-img img{
  width: 100%;
}
.type-desc h5,
.type-desc label{
  font-family: CenturyGothic_bold;
  font-weight: bold;
  font-size: 14px;
  color: #454B51;
  margin: 0;
}
.type-desc h5{
  margin-bottom: 6px;
}
.type-desc label{
  font-family: CenturyGothic;
  font-weight: inherit;
  color: #717982;
}
.category-wrapper .category-heading{
  margin-bottom: 5px;
}
.category-wrapper .category-heading h5{
  color: #454B51;
  font-size: 14px;
  font-family: CenturyGothic_bold;
  margin-top: 25px;
  display: inline-block;
}
.category-wrapper .category-heading label a{
  color: #006FBA;
  font-size: 12px;
  font-family: CenturyGothic;
}
.category-heading label{
  float: right;
  margin-top: 20px;
}
.category-list ul{
  border-bottom: 1px dashed rgba(151, 151, 151, 0.6);
  padding-bottom: 10px;
}
.category-list ul li{
  display: block;
  padding: 7px 4px;
}
.category-list ul li label{
  color: #454B51;
  font-size: 14px;
  padding-left: 15px;
  font-family: CenturyGothic;
}
@media screen and (min-width: 1170px) {
    .padwrapper {
        max-width: 1170px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 991px) and (max-width: 1024px) {
    .padwrapper {
        padding: 0px 35px;
    }
}

@media screen and (max-width: 991px) {
    .service-list h5 {
        font-size: 18px;
        padding: 0px 25px;
    }
}

@media screen and (max-width: 767px) {
    .main-wrapper .inSection {
        padding: 15px 0;
    }
    .padwrapper {
        padding: 10px !important;
    }
    .service-data {
        margin: 5px;
    }
    .welcome-banner {
        padding: 15px 0;
    }
    .welcome-banner h4 {
        font-size: 18px;
    }
    .welcome-banner p {
        width: 100%;
        font-size: 12px;
    }
    .welcome-banner .btn-theme.label {
        font-size: 13px !important;
    }
    .service-list {
        padding: 0 !important;
    }
    .welcome-banner.empty img {
        margin-top: 0px;
        display: none;
    }
    .welcome-banner.empty h4 {
        font-size: 16px;
    }
    .bottomSection {
        padding-bottom: 20px;
    }

    .serviceList-title{
        padding-left: 5px;
    }
    .main-wrapper .inSection.dash-inSec{
        padding-bottom: 10px;
    }
    .welcome-banner.empty{
        padding-left: 5px;
        padding-right: 5px;
    }
    .jobUpdate-padding{
        padding: 0 5px;
    }

}

@media screen and (max-width: 640px) {
    .service-data label {
        font-size: 12px;
        bottom: 0;
    }
}
