.main-wrapper .topSection {
    background-color: #fff;
}

.main-wrapper .inSection {
    background-color: rgb(249, 252, 251);
    padding: 50px 0;
}

.padwrapper {
    padding: 0px 40px;
}

.emergency,
.repair,
.servicing,
.wash {
    max-width: 100%;
    background-size: 100%;
    background-image: url('../images/service.png');
    height: 255px;
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.emergency {
    background-position: 0 0%;
    background-size: 100%;
}

.repair {
    background-position: 0 33.333333%;
    background-size: 100%;
}

.servicing {
    background-position: 0 66.666667%;
    background-size: 100%;
}

.wash {
    background-position: 0 100%;
    background-size: 100%;
}

.service-list {
    padding: 30px 0px;
}

.service-list h5 {
    font-size: 26px;
    line-height: 33px;
    font-family: CenturyGothic;
    margin-bottom: 35px;
}

.service-list h5 span {
    font-family: CenturyGothic;
}

.service-data {
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    position: relative;
}

.service-data:hover {
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.15);
}

.service-data label {
    font-family: CenturyGothic;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #261a9d;
    left: 0;
    padding: 8px 0;
    margin-bottom: 0;
    border-radius: 0px 0px 5px 5px;
}


/*Welcome Text*/

.welcome-banner {
    padding: 70px 0;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
    overflow: hidden;
}

.welcome-banner h4 {
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 26px;
}

.welcome-banner h4 span {
    font-weight: 900;
    color: #000;
}

.welcome-banner p {
    width: 475px;
    color: #717982;
    font-family: CenturyGothic;
    font-size: 18px;
    line-height: 26px;
    margin: 20px 0;
}

.welcome-banner .btn-theme.label {
    color: #ED3124 !important;
    border: 1px solid #ED3124;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

@media screen and (min-width: 1441px) {
    .padwrapper {
        max-width: 1366px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .padwrapper {
        padding: 0px 35px;
    }
}

@media screen and (max-width: 991px) {
    .service-list h5 {
        font-size: 18px;
        padding: 0px 25px;
    }
}

@media screen and (max-width: 640px) {
    .emergency,
    .repair,
    .servicing,
    .wash {
        width: 100px;
    }
    .service-data label {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .service-data {
        margin: 5px;
    }
    .welcome-banner{
        padding-bottom: 30px;
    }
    .welcome-banner h4{
        font-size: 18px;
    }
    .welcome-banner p{
        width: 100%;
        font-size: 12px;
    }
    .welcome-banner .btn-theme.label{
        font-size: 13px !important;
    }
}