.main-wrapper .topSection {
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.11);
    margin-bottom: 4px;
}

.main-wrapper .inSection {
    background-color: rgb(249, 252, 251);
     padding: 40px 0 70px 0;
}

.padwrapper {
    padding: 0px 40px;
    position: relative;
}

.service-data img {
    width: 100%;
}

.service-list {
    padding: 30px 0px !important;
}

.service-list h5 {
    font-size: 26px;
    line-height: 33px;
    font-family: CenturyGothic;
    margin-bottom: 35px;
}

.service-list h5 span {
    font-family: CenturyGothic;
}

.service-data {
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    position: relative;
}

.service-data:hover {
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.15);
}

.service-data label {
    font-family: CenturyGothic;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #261a9d;
    left: 0;
    padding: 8px 0;
    margin-bottom: 0;
    border-radius: 0px 0px 5px 5px;
}


/*Welcome Text*/

.welcome-banner {
    padding: 70px 0;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}

.welcome-banner h4 {
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 26px;
}

.welcome-banner h4 span {
    font-weight: 900;
    color: #000;
}

.welcome-banner p {
    width: 475px;
    color: #717982;
    font-family: CenturyGothic;
    font-size: 18px;
    line-height: 26px;
    margin: 20px 0;
}

.welcome-banner .btn-theme.label {
    color: #ED3124 !important;
    border: 1px solid #ED3124;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}


/*Empty Updates*/

.welcome-banner.empty {
    background: #f9fcfb;
    border-bottom: 0;
    padding: 0 0 50px;
}

.welcome-banner.empty .btn-theme {
    background: #ED3124;
    margin: 0;
}

.welcome-banner.empty h4 {
    color: #717982;
    font-size: 20px;
    font-family: CenturyGothic;
    font-weight: 900;
}

.welcome-banner.empty p {
    color: #717982;
    font-size: 14px;
}

.welcome-banner.empty img {
    margin-top: -80px;
    max-width: 100%;
}

@media screen and (min-width: 1441px) {
    .padwrapper {
        max-width: 1366px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 991px) and (max-width: 1024px) {
    .padwrapper {
        padding: 0px 35px;
    }
}

@media screen and (max-width: 991px) {
    .service-list h5 {
        font-size: 18px;
        padding: 0px 25px;
    }
}

@media screen and (max-width: 767px) {
    .main-wrapper .inSection {
        padding: 15px 0;
    }
    .service-data {
        margin: 5px;
    }
    .welcome-banner {
        padding: 30px 0;
    }
    .welcome-banner h4 {
        font-size: 18px;
    }
    .welcome-banner p {
        width: 100%;
        font-size: 12px;
    }
    .welcome-banner .btn-theme.label {
        font-size: 13px !important;
    }
    .service-list {
        padding: 10px;
    }
    .welcome-banner.empty img {
        margin-top: 0px;
        display: none;
    }
    .welcome-banner.empty h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    .service-data label {
        font-size: 13px;
    }
    .service-list {
        padding: 10px 15px;
    }
}