.footerSection {
    background: #363738;
}


/*AppLInk*/

.appLink-section {
    padding: 60px 0;
    border-bottom: 1px solid #4A4A4A;
}

.app-left h5 {
    display: inline-block;
    margin-left: 15px;
}

.app-left h5,
.app-right h5 {
    font-size: 22px;
    color: #fff;
    font-family: CenturyGothic;
    line-height: 35px;
    vertical-align: middle;
    font-weight: normal;
}

.app-right-content,
.app-right ul {
    display: inline-block;
    vertical-align: top;
}

.app-right h5 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0px;
}

.app-right ul li {
    display: block;
    margin: 10px 0;
}

.app-right ul {
    width: 125px;
    margin-left: 20px;
    margin-top: -10px;
}

.app-right ul li img {
    width: 100%;
    height: 37px;
}

.app-right .input-group {
    width: 350px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.app-right .form-control {
    margin: 0px;
    height: 40px;
    outline: 0;
    box-shadow: none;
}

.app-right .input-group .btn {
    height: 40px;
    background-color: #23AE49;
    border: 1px solid #23AE49;
    color: #fff;
    font-family: CenturyGothic;
    border-radius: 0 3px 3px 0;
    padding: 0px 15px;
}

.app-right input:focus::-webkit-input-placeholder,
.app-right input:valid::-webkit-input-placeholder {
    font-family: CenturyGothic;
    transform: none;
    color: #949DA5;
    font-size: 13px;
}


/*Footer*/

.footerSection {
    padding-left: 110px;
}

.quickLink-section {
    padding: 30px 0px;
}

.footer-link {
    margin-bottom: 30px;
}

.footer-link h5 {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-family: CenturyGothic_bold;
    margin-bottom: 15px;
}

.footer-link ul li a {
    font-family: CenturyGothic;
    line-height: 30px;
    font-size: 13px;
    color: #fff;
    text-decoration: none !important;
}

.footer-link ul li a i {
    float: left;
    padding: 2px 5px;
    padding-left: 0;
    margin-right: 25px;
    font-size: 24px;
}

@media screen and (min-width: 1201px) and (max-width: 1280px) {
    .app-right h5,
    .app-right .input-group {
        width: 320px;
    }
}


/*responsive css*/

@media screen and (max-width: 1200px) {
    .app-right ul {
        margin-left: 0;
        width: auto;
    }
    .app-right ul li img {
        width: 70%;
    }
    .app-right ul li {
        display: inline-block;
    }
    .app-right ul li:last-child {
        margin-left: -20px;
    }
    .app-left h5,
    .app-right h5 {
        font-size: 18px;
    }
    .footer-link h5 {
        font-size: 13px;
    }
    .footer-link ul li a {
        font-size: 12px;
    }
    .footer-link ul li a i {
        font-size: 18px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .footerSection {
        padding-left: 0;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 767px) {
    .footer-section {
        padding: 30px 0px;
    }
    .footerSection .padwrapper {
        padding: 0 !important;
    }
    .app-left img {
        width: 35px;
    }
    .app-left h5,
    .app-right h5 {
        font-size: 14px;
        line-height: 25px;
    }
    .footer-link h5 {
        font-size: 13px;
    }
    .app-right ul li{
        width: 140px;
    }
    .app-right ul li:last-child {
        margin-left: -30px;
    }
    .app-left {
        margin-bottom: 20px;
    }
    .app-right .input-group {
        width: 350px;
    }
    .appLink-section {
        height: auto;
        padding: 20px 0;
    }
    .app-right .input-group .btn{
        font-size: 12px;
    }
}

@media screen and (max-width: 580px) {
    .app-right .input-group {
        width: 90%;
    }
}