.form-group {
    margin-bottom: 35px;
    position: relative;
    font-family: CenturyGothic;
}

.form-group label {
    display: block;
    color: rgba(0, 0, 0, 0.39);
    font-weight: normal;
}

.form-input {
    border: 0;
    outline: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    font-size: 14px;
    height: 45px;
    margin: 10px 0;
    padding: 20px 0 0;
}

.form-group.error .form-input {
    border-color: red;
}

.form-group .error-text {
    color: red;
    font-size: 12px;
    font-family: CenturyGothic;
    display: block;
    margin: 5px 0;
    visibility: hidden;
    position: absolute;
    bottom: -28px;
}

.note-text .error-text {
    color: red;
    font-size: 13px;
    font-family: CenturyGothic;
    display: block;
    margin: 5px 0;
    visibility: hidden;
    height: 20px;
}

.form-group.error .error-text,
.note-text.error .error-text {
    visibility: visible;
}

.input-icon {
    padding: 10px;
    position: absolute;
    right: 20px;
    z-index: 999;
    top: 5px;
    cursor: pointer;
}

.or-text {
    border-bottom: 1px solid #ddd;
    height: 11px;
    color: #8F9397;
    text-align: center;
    width: 100%;
    margin: 30px auto;
    margin-bottom: 20px;
}

.or-text span {
    font-size: 13px;
    background: #fff;
    padding: 10px 15px;
}

.form-group {
    position: relative;
}

.form-group label {
    color: #717982;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: CenturyGothic;
    margin-bottom: 0;
}

.form-input:focus,
.form-input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-color: #006FBA;
}

.form-input:focus~label,
.form-input:valid~label {
    top: 3px !important;
    font-size: 11px;
    color: #006FBA;
}

.form-group.error label {
    color: #999;
}

.auth-footer-text {
    margin: 30px 0;
}

.forget-input .form-input {
    margin-top: 0px;
}

.forget-panel-header.login-panel-header .note-text {
    margin-bottom: 15px;
}

.agreelabel {
    font-size: 14px;
}

.textAlign {
    border: 0;
    border-bottom: 1px solid #C8D4DE;
    box-shadow: none !important;
    resize: none;
    border-radius: 0px;
    padding-left: 0px;
    outline: 0 !important;
}


/* input-button-addon */

.input-button-addon .otp-input {
    width: 320px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.input-button-addon .form-group .form-input {
    height: 34px;
    padding: 20px 0 12px;
}

.input-button-addon .form-group label {
    top: 15px;
}

.input-button-addon .form-group .error-text {
    bottom: -20px;
}

@media screen and (min-width: 1075px) and (max-width: 1175px) {
    .input-button-addon .otp-input {
        width: 290px;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .form-group {
        margin-bottom: 25px;
    }
    .input-icon {
        right: 10px;
        padding-right: 0;
    }
    .input-button-addon .otp-input {
        width: 100%;
    }
    .input-button-addon .btn-theme {
        float: right;
    }
    .input-button-addon .note-text{
        margin-top: 12px;
    }
}

@media screen and (max-width: 640px) {
    .or-text{
        width: 100%;
    }
    .form-group label {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px){
    .input-button-addon .btn-theme {
        float: none;
    }
    .input-button-addon .note-text{
        margin-top: 20px ;
    }
}