.form-group {
    margin-bottom: 35px;
    position: relative;
    font-family: OxyReg;
}

.form-group label {
    display: block;
    color: rgba(0, 0, 0, 0.39);
    font-weight: normal;
}

.form-input {
    border: 0;
    outline: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    height: 48px;
    margin: 10px 0;
}

.form-group.error .form-input {
    border-color: red;
}

.form-group .error-text {
    color: red;
    font-size: 13px;
    font-family: OxyLight;
    display: block;
    margin: 5px 0;
    visibility: hidden;
    position: absolute;
    bottom: -28px;
}

.form-group.error .error-text {
    visibility: visible;
}

.input-icon {
    padding: 10px;
    position: absolute;
    right: 20px;
    z-index: 999;
    top: 5px;
    cursor: pointer;
}

.or-text {
    border-bottom: 1px solid #ddd;
    height: 11px;
    color: #8F9397;
    text-align: center;
    width: 40%;
    margin: 30px auto;
}

.or-text span {
    font-size: 13px;
    background: #fff;
    padding: 10px 15px;
}

.otp-input {
    width: 300px;
    display: inline-block;
    margin-right: 30px;
}

.otp-input input {
    font-size: 18px;
}

form {
    box-sizing: border-box;
    width: 260px;
    margin: 100px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 3px;
}

.form-group {
    position: relative;
}

.login-panel .form-group label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: OxyReg;
}

.form-input:focus,
.form-input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-color: #39B65B;
}

.form-input:focus ~ label,
.form-input:valid ~ label{
    top: -5px;
    font-size: 11px;
    color: #39B65B;
}

.form-group.error label{
    color: #999;
}

.auth-footer-text{
   margin: 30px 0 20px;
}

@media screen and (max-width: 767px) {
    .input-icon {
        right: 10px;
        padding-right: 0;
    }
}

@media screen and (max-width: 640px) {
    .or-text,
    .otp-input {
        width: 100%;
    }
}
