.form-group {
    margin-bottom: 35px;
    position: relative;
    font-family: CenturyGothic;
}

.form-group label {
    display: block;
    color: rgba(0, 0, 0, 0.39);
    font-weight: normal;
}

.form-input {
    border: 0;
    outline: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    font-size: 14px;
    /* height: 45px; */
    margin: 10px 0;
    /* padding: 30px 0 12px; */
    padding: 6px 0 0;
}

.form-group.error .form-input {
    border-color: red;
}

.form-group .error-text {
    color: red;
    font-size: 12px;
    font-family: CenturyGothic;
    display: block;
    margin: 5px 0;
    visibility: hidden;
    position: absolute;
    bottom: -28px;
}

.note-text .error-text {
    color: red;
    font-size: 13px;
    font-family: CenturyGothic;
    display: block;
    margin: 5px 0;
    visibility: hidden;
    height: 20px;
}

.model-select+span.error-text {
    color: red;
    font-size: 12px;
    font-family: CenturyGothic;
    display: block;
    height: 20px;
}

.form-group.error .error-text,
.note-text.error .error-text {
    visibility: visible;
}

.input-icon {
    padding: 10px 3px;
    position: absolute;
    right: 0;
    z-index: 999;
    /* top: 10px; */
    top: 0;
    cursor: pointer;
}

.input-icon i {
    font-size: 16px;
}

.input-icon i.mdi-eye {
    color: #006FB9;
}

.input-icon i.mdi-eye-off {
    color: #454B51;
}

.otp-input {
    width: 300px;
    display: inline-block;
    margin-right: 30px;
}
.send-otpbtn-align{
    display: inline-block;
}
.send-otpbtn-align .otp-input{
    display: block;
}

.or-text {
    border-bottom: 1px solid #ddd;
    height: 11px;
    color: #8F9397;
    text-align: center;
    width: 100%;
    margin: 30px auto;
    margin-bottom: 20px;
}

.or-text span {
    font-size: 13px;
    background: #fff;
    padding: 10px 15px;
}

.form-group {
    position: relative;
}

.form-group label {
    color: #717982;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    /* top: 20px; */
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: CenturyGothic;
    margin-bottom: 0;
}

.form-input:focus,
.form-input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.form-input:focus {
    border-color: #006FB9;
}

.form-input:focus~label,
.form-input:valid~label {
    /* top: 3px !important; */
    /* font-size: 11px; */
        top: -9px !important;
    font-size: 11px;
}

.form-input:focus~label {
    color: #006FB9 !important;
}

.auth-footer-text {
    margin: 30px 0;
}

.forget-input .form-input {
    margin: 0px;
}

.forget-panel-header.login-panel-header .note-text {
    margin-bottom: 15px;
}

.agreelabel {
    font-size: 14px;
}

.textAlign {
    border: 0;
    border-bottom: 1px solid #C8D4DE;
    box-shadow: none !important;
    resize: none;
    border-radius: 0px;
    padding-left: 0px;
    outline: 0 !important;
}

/* Disabled input */
.form-group.disabledInput{
    opacity: 0.6;
}
.form-group.disabledInput label{
    top: 0;
}
.form-group.disabledInput .form-control{
    background: #fff;
}
/* input-button-addon */

.input-button-addon .otp-input {
    width: 320px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.input-button-addon .form-group .form-input {
    height: 34px;
    padding: 20px 0 12px;
}

.input-button-addon .form-group .error-text {
    bottom: -20px;
}

/* Safari Autofill icon removal */
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
  opacity: 0 !important;
}

/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .forget-input .btn-theme.red, .otp-input .btn-theme.red, .otpbtnAlign{
     margin-top:-8px;
     vertical-align: top;
  }
}

@media screen and (min-width: 1075px) and (max-width: 1175px) {
    .input-button-addon .otp-input {
        width: 290px;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .form-group {
        margin-bottom: 25px;
    }
    .input-icon {
        right: 10px;
        padding-right: 0;
    }
    .input-button-addon .otp-input {
        width: 100%;
    }
    .input-button-addon .btn-theme {
        float: right;
    }
    .input-button-addon .note-text {
        margin-top: 12px;
    }
    .form-group .error-text{
        font-size: 11px;
        bottom: -22px
    }
}

@media screen and (max-width: 640px) {
    .or-text {
        width: 100%;
    }
    .form-group label {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    .input-button-addon .btn-theme {
        float: none;
    }
    .input-button-addon .note-text {
        margin-top: 20px;
    }
}
