.header-section {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    height: 90px;
    background-color: #fff;
}

.header-section .logo-section {
    display: inline-block;
    padding: 15px 0px;
    margin: 0 auto;
    text-align: center;
    width: 110px;
    vertical-align: top;
}

.header-search {
    padding: 0px !important;
    display: inline-block;
    vertical-align: top;
    height: 90px;
}

.header-search .form-group {
    margin-bottom: 0px;
    display: inline-block;
    width: 500px;
}

.header-search .form-control {
    margin: 0;
    height: 90px;
    border: none;
    outline: 0 !important;
    box-shadow: none !important;
    font-family: CenturyGothic;
    font-size: 15px;
}

.header-search .input-group-addon {
    background-color: #fff;
    border: none;
    padding: 0px 15px 0px 25px;
}

.header-search input:focus::-webkit-input-placeholder,
.header-search input:valid::-webkit-input-placeholder {
    font-family: CenturyGothic;
    transform: none;
    color: #949DA5;
    font-size: 16px;
}

.header-search .mdi-magnify {
    color: #949DA5;
    font-size: 22px;
}

.header-right {
    display: inline-block;
    padding: 0px;
    width: 255px;
    vertical-align: top;
    padding: 16px 15px;
    float: right;
    margin-right: 10px;
}

.header-right ul li {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.header-right ul li.notification-menu {
    position: relative;
    margin-right: 20px;
    margin-top: -5px;
}

.header-right ul li.notification-menu i {
    color: #454B51;
    font-size: 26px;
}

.header-right ul li.notification-menu label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 5px;
}

.header-right ul {
    margin-bottom: 0px;
}

.header-right ul li.notification-menu span {
    position: absolute;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    border: 2px solid #fff;
    background-color: #ED3124;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    font-family: CenturyGothic;
    top: 20px;
    right: -1px;
    font-size: 11px;
    padding: 2px;
}

.profile-header .profile-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    border: 3px solid #EEF2F5;
    border-radius: 100%;
}

.profile-header .profile-img img {
    width: 100%;
}

.profile-header .profile-desc {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-top: 10px;
}

.profile-header .profile-desc span {
    font-size: 14px;
    color: #91A3AF;
    font-family: CenturyGothic;
    padding-right: 10px;
}

.profile-header .profile-desc .fa-angle-down {
    font-size: 14px;
    color: rgba(147, 158, 166, 1);
}

.search-mobile i {
    display: none;
}


/*responsive*/

@media screen and (max-width: 991px) {
    .header-section {
        padding: 0px;
        height: 70px;
    }
    .header-right {
        padding: 0px !important;
        margin-right: 0;
        border: 0;
        width: auto;
    }
    .header-search,
    .profile-desc span {
        display: none;
    }
    .padwrapper {
        padding: 0px !important;
    }
    .service-data {
        margin-bottom: 15px;
    }
    .logo-img {
        width: 60px;
    }
    .header-right ul li {
        padding: 10px 0;
    }
    .header-right ul li.notification-menu {
        margin-right: 0;
    }
    .search-mobile i {
        font-size: 24px;
        display: block;
        margin-right: 15px;
        margin-top: 3px;
    }
    .header-right ul {
        margin-bottom: 0px;
    }
    .header-section .logo-section {
        padding: 5px 15px;
        text-align: left;
        width: auto;
        border: 0;
    }
}