.request-summary-body .tab-jobDetails {
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.request-summary-body .data-time {
    border-radius: 3px;
    background-color: #F9FBFB;
    font-family: "CenturyGothic";
    width: 97.2%;
    margin: 0 15px 30px;
}

.repair-detail {
    border-bottom: 2px solid #DAE1E7;
    padding-bottom: 30px;
}

.request-summary-body .data-time title,
.request-summary-body .data-time span {
    font-family: CenturyGothic;
    font-size: 14px;
    line-height: 14px;
    display: block;
}

.request-summary-body .data-time title {
    color: #454B51;
}

.request-summary-body .data-time span {
    color: #717982;
}

.request-summary-body .data-time .margin-correction {
    padding: 30px;
    padding-left: 20px;
}

.request-summary-body .data-time .margin-correction title {
    padding-bottom: 10px;
    color: #454B51;
}

.request-summary-body .data-time .margin-correction .wrapper {
    border-right: 2px solid #DAE1E7;
}

.request-summary-body .data-time .margin-correction:nth-child(3) .wrapper {
    border-right: 0;
}

.request-summary-body .repair-category {
    clear: both;
}

.request-summary-body .more-details {
    border-left: 2px solid #DAE1E7;
}

.request-summary-body title {
    clear: both;
    display: block;
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 16px;
    padding-bottom: 15px;
}

.more-details title {
    padding-left: 8px;
}

.request-summary-body .repair-category,
.request-summary-body .uploads,
.request-summary-body .uploads .images {
    padding-left: 0 !important;
}

.request-summary-body .repair-category .figure {
    vertical-align: super;
}

.request-summary-body .repair-category .interior-clean {
    width: 15px;
    height: 15px;
    background: url(http://web-test.carcility.com/statusIcon.png);
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.request-summary-body .repair-category .wash {
    width: 15px;
    height: 15px;
    background: url(http://web-test.carcility.com/statusIcon.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.request-summary-body .category-list li {
    margin-bottom: 10px;
}

.request-summary-body .category-list li label,
.request-summary-body .more-details p,
.request-summary-body .uploads h4 {
    display: inline-block;
    color: #717982;
    font-family: CenturyGothic;
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
    padding-left: 8px;
}

.request-summary-body .more-details figcaption {
    line-height: 22px;
}

.request-summary-body .uploads h4 {
    display: block;
    margin-bottom: 18px;
    padding: 0;
}

.request-summary-body .uploads .figure img {
    padding-right: 10px;
    border-radius: 3px;
}

.request-summary-body .uploads .figure {
    padding: 30px 0;
    border-bottom: 2px solid #DAE1E7;
}

.request-summary-body .uploads .images:first-child .figure {
    padding-top: 0
}

.request-summary-body .uploads .images {
    padding-right: 20px !important;
}

.request-summary-body .uploads .images:nth-child(odd) {
    border-left: 2px solid #DAE1E7;
    padding-left: 20px !important;
}

.request-summary-body .uploads .figure.no-border {
    border-bottom: 0;
}

.request-summary-body .uploads .figure.no-top-padding {
    padding-top: 0;
}

.request-summary-body .uploads .image-container {
    display: inline-block;
    position: relative;
}

.request-summary-body .uploads title {
    padding: 20px 0;
}

.request-summary-body .uploads .figure .upload-images {
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
}

.request-summary-body .uploads .figure .upload-images img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media screen and (max-width: 991px) {
    .request-summary-body .data-time .margin-correction {
        padding: 20px;
        padding-left: 0px;
    }
    .request-summary-body .data-time .margin-correction .wrapper {
        border-right: none;
        padding: 0 10px;
    }
    .request-summary-body .tab-jobDetails {
        margin-top: 0px;
    }
    .request-summary-body .data-time {
        padding: 0px;
        background: #fff;
    }
    .request-summary-body .repair-detail {
        padding-left: 10px !important;
    }
    .request-summary-body .more-details {
        border-left: none;
    }
    .vendorDetails {
        padding: 0;
    }
}