    .job-updates {
        margin: 15px 0!important;
        clear: both;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    }
    
    .job-updates .row {
        margin: 0;
    }
    /*Job Update Status */
    .job-updates{
        border: 1px solid transparent;
        border-left-width: 4px;
    }
     .job-updates:hover{
         cursor: pointer;

     }
    .job-updates.warning:hover {
        border: 1px solid #FFBE2C;
        border-left-width: 4px;
    }
    
    .job-updates.active:hover {
        border: 1px solid #7294FE;
        border-left-width: 4px;
    }
    
    .job-updates.accepted:hover {
        border: 1px solid #9553B5;
        border-left-width: 4px;
    }
    
    .job-updates.inProgress:hover {
        border: 1px solid #1EC1DC;
        border-left-width: 4px;
    }
    
    .job-updates.finished:hover {
        border: 1px solid #195E8D;
        border-left-width: 4px;
    }
    
    .job-updates.cancelled:hover {
        border: 1px solid #FF8A78;
        border-left-width: 4px;
    }
    
    .job-updates.expired:hover {
        border: 1px solid #A5A5A5;
        border-left-width: 4px;
    }
    
    .job-card {
        padding: 15px 15px 8px;
    }
    
    .card-img {
        width: 200px;
        height: 140px;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block;
    }
    
    .card-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /*job info*/
    
    .jr-body {
        padding: 20px 25px;
    }
    
    .jobInfo {
        position: relative;
    }
    
    .job-update-title {
        font-family: CenturyGothic;
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 18px;
        color: #454B51;
        font-weight: 900;
    }
    
    .jobInfo p {
        color: #454B51;
        font-size: 14px;
        line-height: 24px;
        font-family: CenturyGothic;
    }
    
    .jobInfo img {
        position: absolute;
        left: -35px;
        top: 14px;
    }
    
    .accepted-info {
        font-family: CenturyGothic;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
    }
    
    .card-info {
        margin-left: 15px;
        line-height: 25px;
        display: inline-block;
        vertical-align: top;
    }
    
    .card-info .job-name {
        color: #717982;
        font-size: 13px;
        text-transform: capitalize;
        font-family: CenturyGothic;
        font-weight: 900;
    }
    
    .card-info .job-title {
        font-family: CenturyGothic;
        font-size: 18px;
        color: #006FB9;
        text-transform: capitalize;
        font-weight: 900;
    }
    
    .card-info .job-details {
        line-height: 2;
        margin-top: 10px;
    }
    
    .card-info .job-details li {
        font-family: CenturyGothic;
        font-size: 13px;
        text-transform: capitalize;
    }
    
    .card-info .job-details li label {
        width: 110px;
        color: #949DA5;
        margin-bottom: 0;
        font-weight: 400;
    }
    
    .card-info .job-details li span {
        color: #55595B;
    }
    
    .card-info .job-details li .btn-theme {
        padding: 0;
        margin: 0;
        color: #F48021 !important;
        font-family: CenturyGothic;
        text-align: left;
        height: 30px;
        margin-top: 5px;
    }
    /*Job Right Header*/
    
    .job-right {
        border-left: 1px solid #eef2f5;
        min-height: 170px;
        position: relative;
        overflow: hidden;
    }
    
    .job-right-header {
        padding: 15px 10px;
    }
    
    .job-right-header .btn-theme.label {
        margin: 0;
        height: auto;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.8) !important;
    }
    
    .job-icon {
        float: right;
        cursor: pointer;
        margin: 0 15px;
    }
    
    .job-icon .mdi {
        font-size: 18px;
        color: #006FB9;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .job-icon .commentLabel {
        color: #006FB9;
        font-family: CenturyGothic;
        font-size: 14px;
        vertical-align: middle;
    }
    
    .job-icon .notifyTag {
        font-family: CenturyGothic;
        border-radius: 50%;
        display: none;
        box-sizing: border-box;
        height: 10px;
        width: 10px;
        border: 2px solid #FFFFFF;
        background-color: #ED3124;
        position: relative;
        top: -3px;
        vertical-align: bottom;
        margin-top: -6px;
        margin-left: -16px;
        margin-right: 5px;
    }
    
    .job-icon.notification .notifyTag {
        display: inline-block;
    }
    /*vendor quotes*/
    
    .vendor-quote {
        border-top: 1px solid #eef2f5;
        width: 100%;
        height: 100%;
    }
    
    .vendor-quote div {
        height: 100%;
    }
    
    .vendor-quote ul li:first-child {
        border-right: 1px solid #eef2f5;
    }
    
    .vendor-quote ul {
        height: 100%;
    }
    
    .vendor-quote ul li {
        display: inline-block;
        width: 49%;
        padding: 15px 25px;
        vertical-align: top;
        height: 100%;
    }
    
    .vendor-quote ul li label {
        color: #9BA1A5;
        font-size: 14px;
        line-height: 15px;
        display: block;
        font-family: CenturyGothic;
        margin-bottom: 10px;
    }
    
    .vendor-quote ul li span {
        font-size: 15px;
        line-height: 17px;
        color: #454B51;
        font-family: CenturyGothic;
        line-height: 25px;
    }
    
    .vendor-quote ul li span.vendor-place {
        color: #006FBA;
        font-size: 13px;
        display: block;
    }
    
    .vendor-quote ul li span.vendor-mobile {
        font-size: 13px;
    }
    
    .job-footer {
        border-top: 1px solid #eef2f5;
        padding: 0 50px;
    }
    /*@media screen and (min-width: 1280px) and (max-width: 1380px) {
        .card-img {
            width: 37%;
        }
    }
    */
    
    @media screen and (max-width: 1100px) {
        .card-info {
            margin-left: 10px;
        }
        .card-info .job-title {
            font-size: 18px;
        }
    }
    
    @media screen and (max-width: 991px) {
        .job-update-title {
            margin-left: 15px;
        }
        .job-right-header {
            padding-left: 0;
        }
    }
    
    @media screen and (max-width: 767px) {
        .card-img {
            width: 100%;
            height: 200px;
            border-radius: 0;
        }
        .card-info {
            margin-left: 0;
            margin-top: 10px;
        }
        .card-time {
            margin-top: 25px;
        }
        .card-time li label {
            width: 140px;
        }
        .job-updates {
            margin: 0px !important;
        }
        .jobInfo p {
            font-size: 12px;
        }
    }
    
    @media screen and (max-width: 640px) {
        .status-label {
            width: 100px;
            padding: 8px 5px;
            font-size: 12px !important;
        }
        .job-icon {
            margin: 5px 8px;
        }
        .job-icon .iconView {
            width: 20px;
            height: 20px;
            background-size: 100%
        }
        .jr-body {
            padding: 20px 15px;
            padding-right: 20px;
        }
        .deals-section {
            margin: 30px 0px;
        }
        .job-icon.message .iconView {
            background-position: 0 -26px;
        }
        .job-icon.document .iconView {
            background-position: 0 -56px;
        }
        .job-icon .notifyTag {
            font-size: 9px;
            padding: 4px 0;
            height: 20px;
            min-width: 20px;
        }
    }