.quotes-view .jobcard.box {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #CFDCE1;
    border-radius: 3px;
    margin-bottom: 15px;
}
.quotes-view .jobcard.box:hover{
    cursor: pointer;
    border: 1px solid #006FBA;
}
.quotes-view .jobcard.box .media{
    padding: 15px;
}
.quotes-view .jobcard.box.active{
    border: 1px solid #006FBA;
}

.quotes-view .jobcard.box .box-content .media-left img {
    width: 100px;
    height: 75px;
    border-radius: 5px;
}
.quotes-view .jobcard .custom-rating {
    justify-content: left;
}

.quotes-view .media {
    box-sizing: border-box;
    height: 100px;
    padding: 10px;
}

.quotes-view .media-body {
    position: relative;
}

.quotes-view .media-body .mdi-heart,
.quotes-view .media-body .mdi-heart-outline {
    position: absolute;
    color: red;
    top: 0;
    right: 0;
}

.quotes-view .media-body .rating {
    line-height: 30px;
}

.quotes-view .media-body .mdi-star {
    color: #FF7300 !important;
}

.quotes-view .jobcard.box .media-left {
    height: 70px;
    width: 100px
}
.quotes-view .jobcard.box .notifyTag{
	top: -6px;
	height: 8px;
    width: 8px;
}
.quotes-view .jobcard.box .media-heading{
	color: #454B51;
	font-family: "CenturyGothic";
	font-size: 17px;
	display: inline-block;
}
/* .quotes-view .custom-rating {
	
} */
.quotes-view .jobcard.box .rating-text{
	padding-left: 10px;
}
.quotes-view .jobcard.box .rating span{
	color: #717982;
	font-family: "CenturyGothic";
	font-size: 13px;
}
.quotes-view .jobcard.box .distance{
	color: #25AF49;
	font-family: "CenturyGothic";
	font-size: 13px;
}
.quotes-view .jobcard.box .media-heading {
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 17px;
    display: inline-block;
}

.quotes-view .jobcard.box .rating span {
    color: #717982;
    font-family: CenturyGothic;
    font-size: 13px;
}

.quotes-view .jobcard.box .distance {
    color: #717982;
    font-family: CenturyGothic;
    font-size: 13px;
}

.quotes-view .jobcard.box .box-footer {
    background-color: #F9FBFB;
    border-radius: 0px 0px 5px 5px;
}

.quotes-view .jobcard.box .box-footer .quotes-cost {
    color: #454B51;
    font-family: CenturyGothic_bold;
    font-size: 14px;
    margin-right: 15px;
    display: inline-block;
    padding: 10px 0;
    float: right;
}

.quotes-view .jobcard.box .box-footer .box-message {
    display: inline-block;
	margin-top: 6px;
}
.quotes-view .jobcard.box .box-footer .box-message .job-icon{
	margin: 0;
}
.quotes-view .jobcard.box .footer-container {
    padding: 15px;
}

.quotes-view .jobcard.box .footer-container .btn-theme {
    width: 100px;
    height: 40px;
    font-family: CenturyGothic_bold;
    margin: 0;
    border: 1px solid #ED3124;
    border-radius: 3px;
    background-color: #FFFFFF;
    float: right;
    color: #ED3124 !important;
}
