.logo {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/logo.png);
    background-size: 100%;
    color: transparent;
}

.logo.absolute {
    position: absolute;
    z-index: 1;
    top: 38px;
    left: 5%;
}

#loginbanner {
    min-width: 100%;
}

.login-banner img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: initial !important;
    height: 100vh !important;
}

.login-banner .carousel-caption {
    position: absolute;
    color: #fff;
    bottom: 15%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    right: 0;
    left: 0;
    font-family: OxyReg;
}

.login-banner .carousel-indicators {
    position: absolute;
    bottom: 6%;
    left: 10%;
    margin-left: 0;
    text-align: left;
}

.login-banner .carousel-indicators li {
    width: 40px;
    height: 3px;
    background: #fff;
    color: #000;
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0 3px;
}

.login-banner .carousel-indicators li.active {
    background: #70AED9;
}

.login-banner .carousel-control {
    display: none;
}

.login-panel {
    width: 590px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.login-title {
    font-size: 28px;
    font-family: OxyBold;
    color: #3E4244;
    margin-bottom: 30px;
}

.login-title.mobile {
    display: none;
}

.login-title.mobile a {
    text-decoration: none;
    outline: 0;
    margin-right: 15px;
}

.login-panel-header .btn-theme.lg {
    width: 47%;
}

.login-panel-header .note-text {
    color: #2B2828;
    margin: 20px 0 30px;
}

.login-panel-header .note-text strong {
    color: #3E4244;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.login-panel-header .note-text strong i {
    color: #ff7500;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
}

.login-panel-footer {
    text-align: right;
    margin-top: 20px;
}

@media screen and (min-width: 1076px) and (max-width: 1280px) {
    .login-panel {
        width: 80%;
    }
}

@media screen and (min-width: 1076px) {
    .login-banner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .login-step {
        display: flex;
        align-items: center;
        height: 100vh;
    }
}

@media screen and (max-width: 1075px) {
    .logo {
        width: 90px;
        height: 90px;
    }
    .login-banner,
    .login-step {
        display: none;
    }
    .full-width {
        width: 100%;
    }
    .logo.absolute {
        position: relative;
        top: 60px;
        margin: 0 auto;
        left: 0;
    }
    .grid-12 {
        width: 100% !important;
    }
    .login-panel {
        width: 80%;
        justify-content: initial;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .login-title {
        display: none;
    }
    .login-title.mobile {
        display: inline-block;
        font-size: 18px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .login-panel-header .btn-theme.facebook {
        margin-right: 10px;
    }
}

@media screen and (min-width: 581px) and (max-width: 767px) {
    .login-panel-header .btn-theme.lg {
        width: 45%;
    }
}

@media screen and (max-width: 580px) {
    .login-panel {
        width: 100%;
        height: 100%;
        padding: 0 20px;
    }
    .login-panel-header .btn-theme.lg {
        width: 43%;
    }
}