.messageBody {
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden
}

.messageBot,
.inboxContainer {
    height: 70vh;
}

.inboxContainer {
    border-right: 1px solid #EEF2F5;
    overflow-y: scroll;
    overflow-x: hidden
}

.messageBot .quotes-chat-area {
    padding-top: 150px;
}

.messageBot .quotes-message-footer {
    bottom: 0;
}

.messageCard {
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #EEF2F5;
}

.messageCard .media-left img {
    border-radius: 3px;
    object-fit: fill;
}

.messageCard.active {
    background-color: #F7F7F8;
}

.messageCard .media-heading {
    color: #717982;
    font-family: CenturyGothic_bold;
    font-size: 13px;
    line-height: 18px;
}

.messageCard .messenger-name {
    color: #454B51;
    font-family: CenturyGothic_bold;
    font-size: 18px;
    line-height: 18px;
}

.messageCard .messenger-firm {
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
}

.messageCard p {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #717982;
    font-family: CenturyGothic;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 0;
}

.messageCard .option_time {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.messageCard .option_time .three-dots-icon {
    position: relative;
    right: auto;
    top: 0;
}

.messageCard .option_time .three-dots-icon .dropdown-menu {
    right: 23px;
    width: auto;
    min-width: inherit;
    top: 4px;
}

.messageCard .option_time .messageTime {
    display: block;
    margin-right: 12px;
    color: #A5A5A5;
    font-family: CenturyGothic;
    font-size: 12px;
    margin-top: 10px;
}

.messageCard .option_time .three-dots-icon .dropdown-menu li a {
    cursor: pointer;
    color: #717982;
    font-family: CenturyGothic;
    font-size: 13px;
    line-height: 5px;
    padding: 12px 13px;
    font-weight: normal;
}

.messageCard .newMessage_count {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #ED3124;
    text-align: center;
    color: #fff;
    font-family: CenturyGothic;
    font-size: 14px;
    padding: 4px;
    display: inline-block;
    position: absolute;
    right: 15px;
    bottom: 2px;
}
