.request-summary{
    border-top: 2px solid #F9FCFB;
}

.request-summary .request-summary-tab{
    border-bottom: 2px solid #F9FCFB;
}

.request-summary .request-summary-tab .title{
    padding-top: 22px;
    padding-bottom: 22px;
}

.request-summary .request-summary-tab .title.active{
    border-bottom: 2px solid #E50000; 
}

.request-summary .title span{
    
	color: #454B51;
	font-family: 'CenturyGothic';
	font-size: 18px;
	line-height: 22px;
    display: block;
    text-align: center;
}
.request-summary .left{
    border-right: 2px solid #F9FCFB;
    padding: 0;
}

.quotes-section{
    padding: 0 15px;
}

.quotes-section .title span{
    color: #717982;
    display: inline-block;
    text-align: left;
    padding: 33px 0;
	font-size: 17px;
	line-height: 17px;
    vertical-align: middle;
}
.quotes-section .title .filterSection{
    float: right;
    margin-top: 24px;
}

.quotes-section .title .filterSection select{
    height: 30px;
    border-radius: 0;
    font-family: CenturyGothic;
    font-size: 14px;
    color: #55595B;
    -webkit-appearance: none;
    min-width: 100px;
    width: auto;
    margin-left: 20px;
    padding: 0 5px;
    vertical-align: middle;
    display: inline-block;
    box-shadow: none;
    outline: 0;
    position: relative;
    background: url(http://localhost:3000/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 95% 10px;
    background-color: #EEF4F6;
    padding-right: 30px;
}
  


