.job-updates.myRequest {
    margin-bottom: 0 !important;
}

.requestSection {
    background: #fff;
}

.request-summary {
    border-top: 2px solid #F9FCFB;
}
.requestSection .row{
    margin: 0;
}

select,
input[type="color"][list] {
    height: 30px;
    width: 100px;
    background-color: #EEF4F6;
}

.request-summary .request-summary-tab .title {
    padding-top: 22px;
    padding-bottom: 22px;
    cursor: pointer;
}

.request-summary .request-summary-tab .title.active {
    border-bottom: 2px solid #E50000;
}

.request-summary .title span {
    color: #454B51;
    font-family: 'CenturyGothic';
    font-size: 18px;
    line-height: 22px;
    display: block;
    text-align: center;
}

.request-summary .left {
    border-right: 2px solid #F9FCFB;
    padding: 0;
}

.quotes-view {
    padding: 0 15px;
}

.quotes-view .title span {
    color: #717982;
    display: inline-block;
    text-align: left;
    padding: 33px 0;
    font-size: 17px;
    line-height: 17px;
    vertical-align: middle;
}

.quotes-view .title .filterSection {
    float: right;
    margin-top: 24px;
}

.quotes-view .title .filterSection select {
    height: 30px;
    border-radius: 0;
    font-family: CenturyGothic;
    font-size: 14px;
    color: #55595B;
    -webkit-appearance: none;
    min-width: 100px;
    width: auto;
    margin-left: 20px;
    padding: 0 5px;
    vertical-align: middle;
    display: inline-block;
    box-shadow: none;
    outline: 0;
    position: relative;
    background: url('../images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: 92% 10px;
    background-color: #EEF4F6;
    padding-right: 30px;
}


/*Quotes right*/

.request-summary-header {
    background: #fff;
    border-bottom: 2px solid #F9FCFB;
}

.quotes-right-body,
.quotes-left-body {
    position: relative;
    height: 70vh;
}

.quotes-right-header {
    padding: 15px;
    background: #fff;
    border-bottom: 1px solid #F9FCFB;
    z-index: 99;
    position: relative;
}

.profile-head {
    display: inline-block;
}

.profile-head span img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.profile-head label {
    font-size: 17px;
    font-family: CenturyGothic;
    color: #454B51;
    margin: 0;
    margin-left: 10px;
    font-weight: normal;
}

.quotes-right-tabs {
    float: right;
    font-family: CenturyGothic;
    font-size: 14px;
    color: #454B51;
}

.quotes-right-tabs ul {
    display: inline-block;
    margin-right: 15px;
}

.quotes-right-tabs li {
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding: 10px 25px 25px;
    cursor: pointer;
}

.quotes-right-tabs li.active {
    border-bottom-color: #E50000;
}

.close-Tab {
    font-size: 20px;
    color: #717982;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.quotes-message-Section {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}

.quotes-message-footer {
    height: 64px;
    width: 100%;
    border-radius: 0 0 4px 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(192, 190, 190, 0.5);
    padding: 14px 10px;
    clear: both;
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;
}
.thumb{
    background: transparent;
    background-color: transparent;
}

.quotes-message-footer .form-group {
    margin-bottom: 0;
}

.quotes-message-footer input {
    margin: 0;
    outline: 0 !important;
    box-shadow: none !important;
    font-family: CenturyGothic;
    font-size: 15px;
    border: 0;
    border: 0;
    border-radius: 0;
    border-color: #DAE1E7;
    color: #9BA1A5;
}

.quotes-message-footer .input-group-addon {
    background-color: #fff;
    padding: 0px 10px 0px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    color: #9BA1A5;
}

.mapSection .quotes-right-body{
    overflow: hidden;
    height: 77.7vh;
}


/*Message Section*/

.chat-container {
    margin: 0px;
}


/*chat same user message*/

.message-in.chain-msg {
    position: relative;
    left: 50px;
}

.message-out.chain-msg {
    position: relative;
    right: 50px;
}


/*chat wrapper*/

.quotes-chat-area,
.quotes-left-body .wrapper,
.quotes-quotation-Section,
{
    position: absolute;
    height: 100%;
    overflow: auto;
}
.quotes-quotation-Section{
    width: 100%;
}

.quotes-chat-area {
    position: absolute;
    display: table-cell;
    vertical-align: bottom;
    bottom: 55px;
    padding-top: 100px;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.quotes-chat-area .c-message {
    width: 75%;
    clear: both;
    padding: 5px 20px;
}

.quotes-chat-area .c-message .c-chat {
    background-color: #f7f7f7;
    border-radius: 0 5px 5px 5px;
    padding: 5px;
    display: inline-block;
    max-width: 80%;
    vertical-align: top;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    margin-left: 5px;
    position: relative;
}

.quotes-chat-area .c-message.message-in .c-chat:before {
    content: '';
    border-top: 10px solid #f7f7f7;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: 0px;
    left: -10px;
}

.quotes-chat-area .c-message.message-in.chain-msg .c-chat:before,
.quotes-chat-area .c-message.message-out.chain-msg .c-chat:after,
.quotes-chat-area .c-message.message-in.chain-msg .profile-head,
.quotes-chat-area .c-message.message-out.chain-msg .profile-head,
 {
    display: none;
}

.quotes-chat-area .c-message .c-chat p {
    font-size: 14px;
    font-family: CenturyGothic;
    color: #454B51;
    margin-bottom: 0px;
}

.quotes-chat-area .c-message .delivered-details {
    margin-left: 55px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.quotes-chat-area .c-message.message-in.chain-msg .delivered-details {
    margin-left: 10px;
}

.quotes-chat-area .c-message .delivered-details label {
    font-family: CenturyGothic;
    color: #838383;
    font-size: 12px;
    font-weight: normal;
}

.quotes-chat-area .c-message.message-out {
    float: right;
}

.quotes-chat-area .c-message.message-out .profile-head {
    float: right;
}

.quotes-chat-area .c-message.message-out .c-chat {
    border-radius: 5px 0px 5px 5px;
    background-color: #efefef;
    float: right;
    margin-right: 10px;
    position: relative;
}

.quotes-chat-area .c-message.message-out .c-chat:after {
    content: '';
    border-top: 10px solid #efefef;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: 0px;
    right: -10px;
}

.quotes-chat-area .c-message.message-out .c-chat p {
    color: #000;
}

.quotes-chat-area .c-message.message-out .p-img {
    float: right;
}

.quotes-chat-area .c-message.message-out .delivered-details {
    float: right;
    margin-right: 60px;
    display: block;
    clear: both;
    position: relative;
}

.quotes-chat-area .c-message.message-out.chain-msg .delivered-details {
    margin-right: 10px;
}

.quotes-chat-area .c-message.message-continuation .delivered-details {
    display: none;
}


/*quotation Section*/

.quotation-head {
    height: 80px;
    border-radius: 3px;
    background-color: #F9FBFB;
    margin: 20px 15px;
    padding: 18px 15px;
}

.quotation-head ul li label {
    min-width: 150px;
}

.quotation-head ul li {
    padding: 3px 0;
}

.quotation-head ul li span,
.quotation-head ul li label {
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 14px;
    font-weight: normal;
}

.quotation-block {
    padding: 10px 20px;
}

.quotation-block h4,
.quotation-total label {
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 16px;
    margin-bottom: 15px;
}

.quotation-block li {
    padding: 3px 18px;
}

.quotation-block li label {
    color: #717982;
    font-family: CenturyGothic;
    font-size: 14px;
    font-weight: normal;
}

.quotation-total {
    margin: 30px 38px;
    margin-right: 35px;
    border-top: 1px solid rgba(113, 121, 130, 0.2);
    border-bottom: 1px solid rgba(113, 121, 130, 0.2);
    padding: 15px 0 0;
}

.quotation-total label {
    color: #454B51;
    font-weight: 900;
}

.quotation-block li span,
.quotation-total span {
    float: right;
    color: #717982;
    font-size: 14px;
    font-family: CenturyGothic;
}

.quotation-total span {
    font-weight: 900;
    font-size: 16px;
}

@media screen and (max-width: 1100px) {
    .quotes-view .title span {
        padding-bottom: 20px
    }
    .quotes-view .title .filterSection {
        float: none;
        margin-top: 0;
        margin-bottom: 25px
    }
    .quotes-view .title .filterSection select {
        margin-left: 0;
        margin-right: 10px;
    }
}