/*ncr = new-car-request*/

.new-car-profile .title {
  background: white;
  padding: 30px 0;
  padding-left: 40px;
  color: #454B51;
  font-family: "CenturyGothic";
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  display: inline-block;
}

.new-car-profile .title h4 {
  margin-top: 0;
}

.ncr .s1,
.ncr .s2 {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  /*width: 1110px;*/
  margin: 0 auto;
}

.ncr .title {
  position: relative;
  padding: 22px;
  border-radius: 4px 4px 0 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(197, 197, 197, 0.5);
}

.ncr .title h4 {
  display: inline-block;
  color: #454B51;
  font-family: "CenturyGothic";
  font-size: 18px;
  line-height: 18px;
}

.ncr .s1 .search-box {
  position: relative;
  margin: 23px;
  display: inline-block;
  width: 32%;
  background-color: transparent;
  margin-bottom: 0;
}

.ncr .s1 .search-box .mdi-magnify {
  position: absolute;
  top: 29px;
  right: 0;
  font-size: 18px;
  color: #949DA5;
}

.ncr .s1 .search-box input {
  width: 100%;
  border: transparent;
  border-bottom: 2px solid #DAE1E7 !important;
  outline: 0 !important;
}

.ncr .s1 .search-box input::-webkit-input-placeholder,
.ncr .s1 .search-box input::-moz-placeholder,
.ncr .s1 .search-box input:-ms-input-placeholder,
.ncr .s1 .search-box input:-moz-placeholder {
  /* Firefox 18- */
  font-family: "CenturyGothic";
}

.ncr .title .mdi.mdi-chevron-down,
.ncr .title .mdi.mdi-chevron-up {
  position: absolute;
  right: 19px;
  font-size: 26px;
  cursor: pointer;
  color: #454B51;
}

.ncr .title .mdi.mdi-magnify {
  top: 4px;
  position: absolute;
  right: 0;
  font-size: 18px;
  color: #949DA5;
}

.ncr .s1 .img-container,
.ncr .s2 .img-container {
  overflow: scroll;
  max-height: 632px;
}

.ncr .s1 .img-circle,
.ncr .s2 .img-circle {
  cursor: pointer;
  position: relative;
  vertical-align: top;
  margin: 24px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid #EEF2F5;
  border-radius: 100%;
  background-color: #FFFFFF;
  margin-bottom: 13px;
}

.ncr .s1 .img-circle.active,
.ncr .s2 .img-circle.active {
  border: 1px solid #ED3124;
}

.ncr .s1 .img-circle img,
.ncr .s2 .img-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inSection.ncr .s1 .btn-theme.submit,
.inSection.ncr .s2 .btn-theme.submit,
.inSection.ncr .s3 .btn-theme.submit {
  background-color: #ED3124;
  margin: 20px 0;
  float: right;
}

.ncr .s1 .img-container .image-view,
.ncr .s2 .img-container .image-view {
  text-align: center;
}

.ncr .s1 .img-container h6,
.ncr .s2 .img-container h6 {
  margin-top: 0 !important;
  color: #454B51;
  font-family: "CenturyGothic";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.ncr .s1 .next-button,
.ncr .s2 .next-button,
.ncr .s3 .next-button {
  height: 90px;
  border-top: 1px solid #C8D4DE;
  margin: 0 30px;
  margin-top: 30px;
}

.ncr .s3 .next-button {
  margin: 0;
  margin-top: 30px;
}

.ncr .s2 select {
  font-family: "CenturyGothic";
  color: #949DA5;
  font-size: 16px;
  line-height: 14px;
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #C8D4DE;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

.ncr .s2 .modal-select {
  padding-left: 25px;
  margin-top: 35px;
  padding-bottom: 25px;
}

.ncr .s2 .modal-select .mdi {
  position: absolute;
  right: 14px;
  top: -2px;
  font-size: 26px;
  color: #454B51;
}

.ncr .s1 .title,
.ncr .s2 .title,
.ncr .s3 .title {
  cursor: pointer;
}

.ncr .s2,
.ncr .s3 {
  margin-top: 20px;
}

.ncr .s3 .wrapper {
  padding: 0 20px;
  background: white;
}

.ncr .s3 .wrapper .uploaded-image {
  height: 110px;
  width: 110px;
  position: relative;
  /*border: 1px dashed #F48021;*/
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
      margin-bottom: 20px;
}

.ncr .s3 .wrapper .uploaded-image .mdi-close {
  background: red;
  border-radius: 100%;
  padding: 2px 3px;
  color: white;
}

.ncr .s3 .wrapper .uploaded-image .cancel-image {
  position: absolute;
  right: -7px;
  top: -9px;
  z-index: 1;
  cursor: pointer
}

.ncr .s3 .wrapper .upload-box-wrapper h5 {
  font-family: "CenturyGothic";
  font-size: 12px;
  color: #454B51;
  width: 100px;
  overflow: hidden;
}

.ncr .s3 .wrapper .uploaded-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ncr .s3 .wrapper .upload-box-wrapper {
  /*display: inline-block;
  vertical-align: top;*/
}

.ncr .s3 .wrapper .upload-box {
  margin: 0;
  position: relative;
  cursor: pointer;
  height: 110px;
  width: 110px;
  border: 1px dashed #F48021;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.ncr .s3 .wrapper .upload-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.ncr .s3 .wrapper .car-profile {
  display: block;
      clear: both;
}

.ncr .s3 .wrapper .upload-image h4,
.ncr .s3 .wrapper .car-profile h4,
.ncr .s3 .wrapper .insurance-details h4,
.ncr .s3 .wrapper .car-notes h4 {
  color: #454B51;
  font-family: "CenturyGothic";
  font-size: 16px;
  line-height: 14px;
  text-transform: capitalize;
}

.ncr .s3 .wrapper .upload-image h4 {
  margin-bottom: 30px;
}

.ncr .s3 .wrapper .upload-image {
  padding-top: 35px;
  padding-bottom: 30px;
  display: block;
}

.ncr .input-values {
  padding: 0;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #C8D4DE !important;
}

.remove-left-padding {
  padding-left: 0;
}

@media screen and (max-width: 991px) {
  .ncr .s1 .search-box {
    width: 32%;
  }
}
