/*ncr = new-car-request*/

.new-car-profile .title {
    background: white;
    padding: 30px 0;
    padding-left: 40px;
    color: #454B51;
    font-family: "CenturyGothic";
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    display: inline-block;
}

.new-car-profile .title h4 {
    margin-top: 0;
}

.panel-section .collapse-panel {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    /*width: 1110px;*/
    margin: 0 auto;
}

.panel-head {
    cursor: pointer;
    position: relative;
    padding: 14px 22px;
    border-radius: 4px 4px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(197, 197, 197, 0.5);
}

.panel-head h4 {
    display: inline-block;
    color: #454B51;
    font-family: CenturyGothic;
    font-size: 18px;
    line-height: 18px;
}

.panel-head i {
    color: #454B51;
    font-size: 26px;
    float: right;
}

.panel-section .collapse-panel .search-box {
    padding: 0;
    position: relative;
    background-color: transparent;
    margin-bottom: 0;
    width: 90%;
    margin-top: 15px;
}

.panel-section .collapse-panel .search-box i {
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 18px;
    color: #949DA5;
    cursor: pointer;
}

.panel-section .collapse-panel .search-box input {
    border: transparent;
    border-bottom: 2px solid #DAE1E7 !important;
    outline: 0 !important;
    padding-right: 40px;
}

.panel-section .collapse-panel .search-box .form-group label {
    top: 15px;
}

.panel-section .collapse-panel .search-box input::-webkit-input-placeholder,
.panel-section .collapse-panel .search-box input::-moz-placeholder,
.panel-section .collapse-panel .search-box input:-ms-input-placeholder,
.panel-section .collapse-panel .search-box input:-moz-placeholder {
    /* Firefox 18- */
    font-family: "CenturyGothic";
}

.panel-section .title .mdi.mdi-chevron-down,
.panel-section .title .mdi.mdi-chevron-up,
.panel-section .model-select .mdi.mdi-chevron-down,
.panel-section .model-select .mdi.mdi-chevron-up {
    position: absolute;
    right: 19px;
    font-size: 26px;
    cursor: pointer;
    color: #454B51;
}

.panel-section .model-select .mdi.mdi-chevron-down,
.panel-section .model-select .mdi.mdi-chevron-up {
    right: 0;
}

.ncr .title .mdi.mdi-magnify {
    top: 4px;
    position: absolute;
    right: 0;
    font-size: 18px;
    color: #949DA5;
}

.ncr .collapse-panel .img-container,
.ncr .collapse-panel .img-container {
    width: 100%;
    overflow: scroll;
    max-height: 632px;
}

.ncr .collapse-panel .img-circle,
.ncr .collapse-panel .img-circle {
    cursor: pointer;
    position: relative;
    vertical-align: top;
    margin: 24px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid #EEF2F5;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin-bottom: 13px;
}

.ncr .collapse-panel .img-circle.active,
.ncr .collapse-panel .img-circle.active {
    border: 1px solid #ED3124;
}

.ncr .collapse-panel .img-circle img,
.ncr .collapse-panel .img-circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel-section .collapse-panel .btn-theme.submit,
.panel-section .collapse-panel .btn-theme.submit,
.panel-section .s3 .btn-theme.submit {
    background-color: #ED3124;
    margin: 20px 0;
    float: right;
}

.ncr .collapse-panel .img-container .image-view,
.ncr .collapse-panel .img-container .image-view {
    text-align: center;
}

.ncr .collapse-panel .img-container h6,
.ncr .collapse-panel .img-container h6 {
    margin-top: 0 !important;
    color: #454B51;
    font-family: "CenturyGothic";
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.panel-section .collapse-panel .next-button,
.panel-section .collapse-panel .next-button,
.panel-section .s3 .next-button {
    height: 90px;
    border-top: 1px solid #C8D4DE;
    margin: 0 30px;
    margin-top: 30px;
}

.panel-section .s3 .next-button {
    margin: 0;
    margin-top: 30px;
}

.collapse-panel .model-select select {
    z-index: 9;
    cursor: pointer;
    position: relative;
    font-family: "CenturyGothic";
    color: #949DA5;
    font-size: 16px;
    line-height: 14px;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #C8D4DE;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
}

.ncr .collapse-panel .modal-select {
    padding-left: 25px;
    margin-top: 35px;
    padding-bottom: 25px;
}

.ncr .collapse-panel .modal-select .mdi {
    position: absolute;
    right: 14px;
    top: -2px;
    font-size: 26px;
    color: #454B51;
}

.ncr .collapse-panel,
.ncr .s3 {
    margin-top: 20px;
}

.ncr .s3 .wrapper {
    padding: 0 20px;
    background: white;
}

.upload-box-wrapper .uploaded-image {
    height: 110px;
    width: 110px;
    position: relative;
    /*border: 1px dashed #F48021;*/
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    margin-bottom: 20px;
}

.upload-box-wrapper .uploaded-image .mdi-close {
    background: red;
    border-radius: 100%;
    padding: 2px 3px;
    color: white;
}

.upload-box-wrapper .uploaded-image .cancel-image {
    position: absolute;
    right: -7px;
    top: -9px;
    z-index: 1;
    cursor: pointer
}

.ncr .s3 .wrapper .upload-box-wrapper h5 {
    font-family: "CenturyGothic";
    font-size: 12px;
    color: #454B51;
    width: 100px;
    overflow: hidden;
}

.upload-box-wrapper .uploaded-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-box {
    margin: 0;
    position: relative;
    cursor: pointer;
    height: 110px;
    width: 110px;
    border: 1px dashed #F48021;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}

.upload-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.ncr .s3 .wrapper .car-profile {
    display: block;
    clear: both;
}

.ncr .s3 .wrapper .upload-image h4,
.ncr .s3 .wrapper .car-profile h4,
.ncr .s3 .wrapper .insurance-details h4,
.ncr .s3 .wrapper .car-notes h4 {
    color: #454B51;
    font-family: "CenturyGothic";
    font-size: 16px;
    line-height: 14px;
    text-transform: capitalize;
}

.ncr .s3 .wrapper .upload-image h4 {
    margin-bottom: 30px;
}

.upload-image {
    padding-top: 35px;
    padding-bottom: 30px;
    display: block;
}

.ncr .input-values {
    padding: 0;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #C8D4DE !important;
}

.upload-box-wrapper {
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 991px) {
    .ncr .collapse-panel .search-box {
        width: 32%;
    }
}