.card-ph-number {
  color: #006FB9;
  font-family: CenturyGothic;
  font-size: 14px;
  padding: 11px 0px;
  display: inline-block;
}

.search-result-card button {
  margin-top: 4px !important;
  border: 1px solid #ED3124;
  border-radius: 3px;
  background-color: #FFFFFF;
  float: right;
  	color: #ED3124 !important;
}
