.sidebar {
    width: 110px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 90px;
    z-index: 99;
    text-align: center;
    box-shadow: 2px 0 6px 0 rgba(104,111,145,0.2);
}

.sidebar ul li {
    padding: 30px 0px;
    cursor: pointer;
}

.sidebar ul li a {
    text-decoration: none !important;
    color: #454B51;
    font-size: 12px;
    font-family: CenturyGothic;
}

.sidebar ul li a label {
    font-size: 21px;
    margin-bottom: 0;
}

.sidebar ul li span {
    font-size: 13px;
    display: block;
    margin-top: 7px;
}

.sidebar ul li:hover a,
.sidebar ul li.active a {
    color: #ED3124;
    font-weight: 900;
}


/*responsive*/

@media screen and (max-width: 991px) {
    .sidebar {
        bottom: 0px;
        left: initial !important;
        top: initial !important;
        width: 100% !important;
        height: auto !important;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    }
    .sidebar ul li {
        padding: 10px 0px !important;
        display: inline-block;
        width: 20%;
        text-align: center;
    }
    .sidebar ul li a {
        color: #989FA8;
    }
    .sidebar ul li:hover a,
    .sidebar ul li.active a {
        font-weight: normal;
    }
    .sidebar ul li a label {
        font-size: 15px;
    }
    .sidebar ul li a span {
        font-size: 10px;
        margin-top: 3px;
    }
}