.bs-wizard {
    margin: 0 auto;
    text-align: center;
    display: table;
    width: 100%;
    padding-bottom: 40px;
}


/*Form Wizard*/

.bs-wizard>.bs-wizard-step {
    padding: 0;
    position: relative;
    margin-left: -5px;
    display: table-cell;
}

.bs-wizard-stepnum {
    visibility: hidden;
}

.bs-wizard>.bs-wizard-step+.bs-wizard-step {}

.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard>.bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    /*background: #fbe8aa;*/
    top: 21px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background-color: #ED3124;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.bs-wizard>.bs-wizard-step>.progress {
    position: relative;
    border-radius: 0px;
    height: 2px;
    box-shadow: none;
    margin: -12px 0 20px;
    background-color: #D9E1E8;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
    width: 0px;
    box-shadow: none;
    background: #ED3124;
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
    width: 50%;
}

.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
    width: 0%;
}

.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
    background-color: #F7F7F8;
    visibility: hidden;
}

.bs-wizard>.bs-wizard-step.active>.bs-wizard-dot {
    background: rgba(237, 49, 36, 0.3);
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
    background-color: transparent;
    visibility: hiddden;
}

.bs-wizard>.bs-wizard-step.disabled:last-child>.bs-wizard-dot:after {
    background-color: #D9E1E8;
    visibility: visible;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
    left: 50%;
    width: 50%;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
    width: 50%;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}


/*Status Popup icon */

.status-popup {
    background: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    position: relative;
    margin-top: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
    border: 1px solid #ddd;
    margin-bottom: 15px;
    min-width: 425px;
    display: inline-block;
    left: 24.2%;
}

.statusPopup-arrow {
    width: 15px;
    height: 15px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.14);
    position: absolute;
    bottom: -7px;
    left: 34%;
    z-index: 0;
    display: inline-block;
}

.iconHolder {
    display: inline-block;
    background: #949494;
    padding: 10px 19px;
    text-align: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 #F7F7F8;
    vertical-align: middle;
}

.statusDescription {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.statusIcon {
    width: 40px;
    height: 35px;
    background: url(../images/statusIcon.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.job-start-point,
.job-end-point {
    font-family: CenturyGothic;
    font-size: 12px;
    color: #55595B;
    font-weight: 900;
    margin-top: -8px;
    margin-left: 15px;
    float: left;
}

.job-end-point {
    float: right;
    margin-right: 15px;
    margin-left: 0;
}

.acduct .statusIcon {
    background-position: 0 0%;
}

.acheating .statusIcon {
    background-position: 0 3.571429%;
}

.annualpackage .statusIcon {
    background-position: 0 7.142857%;
}

.audio .statusIcon {
    background-position: 0 10.714286%;
}

.awesomedetail .statusIcon {
    background-position: 0 14.285714%;
}

.basicwash .statusIcon {
    background-position: 0 17.857143%;
}

.batteries .statusIcon {
    background-position: 0 21.428571%;
}

.brakes .statusIcon {
    background-position: 0 25%;
}

.callcenter .statusIcon {
    background-position: 0 28.571429%;
}

.clutch .statusIcon {
    background-position: 0 32.142857%;
}

.dents .statusIcon {
    background-position: 0 35.714286%;
}

.engine .statusIcon {
    background-position: 0 39.285714%;
}

.fluids .statusIcon {
    background-position: 0 42.857143%;
}

.fueleconomy .statusIcon {
    background-position: 0 46.428571%;
}

.fuelservice .statusIcon {
    background-position: 0 50%;
}

.germprotect .statusIcon {
    background-position: 0 53.571429%;
}

.insurance .statusIcon {
    background-position: 0 57.142857%;
}

.interiorclean .statusIcon {
    background-position: 0 60.714286%;
}

.monthlypackage .statusIcon {
    background-position: 0 64.285714%;
}

.otherservices .statusIcon {
    background-position: 0 67.857143%;
}

.regularservice .statusIcon {
    background-position: 0 71.428571%;
}

.security .statusIcon {
    background-position: 0 75%;
}

.sensors .statusIcon {
    background-position: 0 78.571429%;
}

.steering .statusIcon {
    background-position: 0 82.142857%;
}

.transmission .statusIcon {
    background-position: 0 85.714286%;
}

.tyres .statusIcon {
    background-position: 0 89.285714%;
}

.washdetail .statusIcon {
    background-position: 0 92.857143%;
}

.washshine .statusIcon {
    background-position: 0 96.428571%;
}

.windows .statusIcon {
    background-position: 0 100%;
}

.job-footer-title {
    color: #454B51;
    font-size: 15px;
    font-family: CenturyGothic;
    font-weight: 900;
}

.statusDescription h4 {
    color: #454B51;
    font-size: 15px;
    font-family: CenturyGothic;
    line-height: 15px;
    letter-spacing: 0.5px;
    margin-top: 0;
}

.statusDescription span {
    color: #91A3AF;
    font-size: 12px;
    font-family: CenturyGothic;
    letter-spacing: 0.7px;
}

.status-process {
    color: #717982 !important;
    font-size: 12px;
    font-family: CenturyGothic;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-left: 15px
}

.status-text {
    color: #4C4C4C;
    font-family: CenturyGothic;
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
}

.statusDescription .view-worklog {
    color: #006FBA;
    font-size: 12px;
    font-family: CenturyGothic;
    vertical-align: middle;
    margin-top: 2px;
    display: inline-block;
    text-decoration: none !important;
    outline: 0;
}

@media screen and (max-width: 767px) {
    .bs-wizard {
        display: none;
    }
    .status-popup {
        width: 100%;
        left: 0;
        min-width: auto;
        padding: 10px;
    }
    .statusPopup-arrow {
        display: none;
    }
    .statusDescription {
        width: 70%;
        margin-left: 10px;
    }
    .statusDescription h4 {
        font-size: 10px;
        line-height: 15px;
    }
    .statusDescription span {
        font-size: 9px;
        display: block;
        margin-left: 0;
    }
    .status-process {
        top: 5px;
        font-size: 10px;
        right: 10px;
    }
    .statusDescription .view-worklog {
        float: none !important;
        display: block;
        margin-top: 10px;
        font-size: 10px;
    }
}