    body {
        /*background: rgb(236, 243, 245);*/
    }
    /*Font Bold*/

    @font-face {
        font-family: OxyBold;
        src: url('../fonts/Oxygen-Bold.ttf')
    }
    /*Font Bold*/

    @font-face {
        font-family: OxyLight;
        src: url('../fonts/Oxygen-Light.ttf')
    }
    /*Font Bold*/

    @font-face {
        font-family: OxyReg;
        src: url('../fonts/Oxygen-Regular.ttf')
    }

    @font-face {
        font-family: CenturyGothic;
        src: url('../fonts/CenturyGothic.ttf')
    }

    @font-face {
        font-family: CenturyGothic_bold;
        src: url('../fonts/CenturyGothic_bold.ttf')
    }

    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .container,
    .container-fluid {
        padding: 0;
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .pad0 {
        padding: 0;
    }

    .padLeft0 {
        padding-left: 0;
    }

    .padLeft15 {
        padding-left: 15px;
    }

    .padRight0 {
        padding-right: 0;
    }

    .inline-disp {
        display: inline-block !important;
    }

    .marginTop0 {
        margin-top: 0 !important;
    }

    label {
        font-weight: normal;
    }
    /*commom wrapper*/

    .main-wrapper {
        margin-top: 80px;
        padding-left: 110px;
        overflow: hidden;
    }
    /*Toggle Btn*/
    /*.toggleBtn {
        margin: 30px 0;
    }*/

    .toggleBtn span {
        color: #717982;
        font-family: CenturyGothic;
        font-size: 14px;
    }

    .toggleBtn a {
        outline: 0;
        display: inline-block;
        margin-top: 0px;
        float: right;
    }

    .toggleBtn .toggle-switch---switch---3EchW.toggle-switch---checked---3aC9B .toggle-switch---toggle---mncCu {
        border-color: #EF2E24;
        background-color: #EF2E24;
    }

    .toggleBtn .toggle-switch---toggle---mncCu,
    .toggleBtn .toggle-switch---toggle---mncCu:hover {
        border-color: #9BA1A5;
        background-color: #9BA1A5;
    }

    .toggleBtn .toggle-switch---toggle-sm---20q-N:before {
        height: 8px;
        width: 8px;
    }

    .toggleBtn .toggle-switch---toggle---mncCu:before {
        left: 3px;
        top: 4px;
    }
    /*Error Control*/

    .login-panel .alert {
        margin-top: 30px;
        color: #B4312C;
        background-color: #FFF5F4;
        border: 1px solid #ED3124;
        font-family: CenturyGothic;
        font-size: 12px;
        margin-bottom: 30px;
        letter-spacing: 0.8px;
    }

    .login-panel .alert i {
        margin-right: 10px;
        font-size: 15px;
        vertical-align: middle;
        color: #B44747;
        font-size: 16px;
    }

    .login-panel .alert .close {
        font-size: 22px;
        color: #B44747 !important;
        font-family: CenturyGothic;
        opacity: 1;
        text-shadow: none;
        top: 0 !important;
    }
    /*Page Secition header*/

    .page-sec-header {
        padding: 20px 0;
        position: relative;
    }

    .page-sec-header h4 {
        display: inline-block;
        color: #454B51;
        font-family: CenturyGothic_bold;
        font-size: 20px;
        cursor: pointer;
    }

    .page-sec-header h4 i {
        color: #454B51;
        font-size: 26px;
        vertical-align: middle;
        margin-left: 15px;
    }

    .page-sec-header button {
        background: transparent;
        border: 1px solid #ED3124;
        color: #ED3124 !important;
        position: absolute;
        right: 35px;
        margin-top: 0;
        font-family: CenturyGothic_bold;
        height: 42px;
    }
    /*IE fix*/

    input::-ms-clear,
    input::-ms-reveal {
        display: none;
    }

    input[type=password]::-ms-reveal,
    input[type=password]::-ms-clear {
        display: none;
    }
    /* loader */

    .loader {
        text-align: center;
        height: 90px;
        margin-top: 30px;
    }

    .loader img {
        width: 4%;
    }

    select::-ms-expand {
        display: none;
    }

    /*responsive*/

    @media screen and (max-width: 1024px) {
        .main-wrapper {
            padding-left: 0px;
            margin-top: 70px;
        }
        .login-panel .alert {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 991px) {
        .page-sec-header {
            padding: 0px 0;
        }
        .main-wrapper .inSection {
            /*padding: 40px 0 20px;*/
            padding: 0;
        }
        .three-dots-icon .dropdown-toggle {
            margin-top: 15px;
        }
    }

    @media screen and (max-width: 767px) {
        .mpad-0 {
            padding: 0;
        }
        .page-sec-header {
            padding: 0px 0;
        }
        .page-sec-header h4 {
            font-size: 16px;
        }
        .page-sec-header button {
            right: 10px;
            height: auto;
            font-size: 12px !important;
        }
    }