.note-text{
    color: #3E4244;
    font-size: 13px;
    font-family: CenturyGothic;
    margin-top: 20px;
}
.green-text,
.green-text:hover,
.green-text:focus{
    color: #23AE49;
    font-size: 13px;
    font-family: CenturyGothic;
    text-decoration: none;
    outline: none;
}