<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
  <meta http-equiv="X-UA-Compatible" content="IE=100">
  <!--[if IE]>
    This content is ignored in Internet Explorer 10 and other browsers.
    In older versions of Internet Explorer, it renders as part of the page.
  <![endif]-->
  <meta charset="utf-8"/>
  <title>Carcility Desktop</title>
  <!-- Favicons -->
  <link rel="shortcut icon" href="/images/favicon.png">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0, minimum-scale=1.0">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEkdgRdjIdGIPLSJj8ibsZmMvTvkKmd0g" type="text/javascript"></script>

</head>
<body>
  <div id="app"></div>
</body>
</html>
